@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

@layer components {
  .px-responsive {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    padding-block: calc(0.75rem + 0.5vw);
    padding-left: calc(0.75rem + 0.5vw);
    padding-right: calc(0.75rem + 0.5vw);
  }

  .txt-p-color {
    color: light-dark(#4d4c4d, #c6c6c6);
  }
}
